/**{color: purple;}*/

body{
    background-color: black;
}

.mainimage{
    width: 100%;
    height: 100%;
    border: 10px; color: black;
    text-align: center;
}

.poster{
    text-align:center;
    font-family:"Nanum Gothic Coding", monospace;
    
}

#title1{
    color:rgb(231, 33, 33)
}

#title2{
    color:red
}

#title3{
    color: red;
    margin-top:10%;
    text-align: center;
}